.book-detail-image {
  max-height: 87vh;
}
.book-details-main-data-mobile {
  display: none;
}
@media screen and (max-width: 600px) {
  .book-detail-image {
    max-height: 100%;
    width: 8rem;
    margin: 0.5rem;
  }
  .book-details-main-data-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .book-title-main-data-mobile {
    line-break: anywhere;
  }
  .book-data-container {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
