.card::-webkit-scrollbar {
  width: 12px;
}

.card::-webkit-scrollbar-track {
  background: #bb9b71;
}

.card::-webkit-scrollbar-thumb {
  background-color: #5b462f;
  border-radius: 6px;
  border: 3px solid #bb9b71;
}

.card::-webkit-scrollbar-thumb:hover {
  background: #826346;
}

.book-details-main-data {
  text-align: center;
}

.book-details-actions {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.book-details-edit-btn {
  width: 100%;
  max-width: 360px;
  padding: 0.3rem 0;
  font-size: 1.5em;
  border-radius: 10px;
  transition:
    background-color 0.3s,
    transform 0.3s;
  background: linear-gradient(to right, #b79891, #94716b) !important;
  border: 1.5px solid black !important;
  color: white !important;
}

.book-details-edit-btn:hover {
  transform: scale(1.05);
}

.your-reading-status {
  font-size: 25px;
}

@media screen and (max-width: 600px) {
  .book-details-main-data {
    display: none;
  }
  .your-reading-status {
    font-size: 22px;
  }
  .book-details-edit-btn {
    font-size: 1.2em;
    padding: 0.45rem 0;
  }
  .book-details-edit-btn:hover {
    transform: none;
  }
  .book-details-data-container {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
